.whatsapp-float {
  position: fixed;
  bottom: 25px;     /* separación del fondo */
  right: 25px;      /* 👈 clave: lado derecho */
  left: auto;       /* 👈 evita que se vaya a la izquierda */
  left: auto !important;
  top: auto !important;
  z-index: 99999; /* 🔥 CLAVE */
  background: #25D366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
  z-index: 9999;

  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background: #1ebe5d;
}