.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  left: auto;
  left: auto !important;
  top: auto !important;
  z-index: 99999;
  background: #25D366;
  color: var(--text-bright);
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
  z-index: 9999;

  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background: #1ebe5d;
}